.window-app {
  font-family: "Roboto", sans-serif;
}
.rollable:hover,
.rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}
.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}
.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}
.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}
.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}
.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.grid-start-2 {
  grid-column-start: 2;
}
.grid-start-3 {
  grid-column-start: 3;
}
.grid-start-4 {
  grid-column-start: 4;
}
.grid-start-5 {
  grid-column-start: 5;
}
.grid-start-6 {
  grid-column-start: 6;
}
.grid-start-7 {
  grid-column-start: 7;
}
.grid-start-8 {
  grid-column-start: 8;
}
.grid-start-9 {
  grid-column-start: 9;
}
.grid-start-10 {
  grid-column-start: 10;
}
.grid-start-11 {
  grid-column-start: 11;
}
.grid-start-12 {
  grid-column-start: 12;
}
.grid-span-2 {
  grid-column-end: span 2;
}
.grid-span-3 {
  grid-column-end: span 3;
}
.grid-span-4 {
  grid-column-end: span 4;
}
.grid-span-5 {
  grid-column-end: span 5;
}
.grid-span-6 {
  grid-column-end: span 6;
}
.grid-span-7 {
  grid-column-end: span 7;
}
.grid-span-8 {
  grid-column-end: span 8;
}
.grid-span-9 {
  grid-column-end: span 9;
}
.grid-span-10 {
  grid-column-end: span 10;
}
.grid-span-11 {
  grid-column-end: span 11;
}
.grid-span-12 {
  grid-column-end: span 12;
}
.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}
.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}
.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}
.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}
.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}
.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.full-width {
  width: 100%;
}
.tovu.sheet.item form {
  display: flex;
  flex-direction: column;
}
.tovu.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tovu.sheet.item .sheet-content .editor {
  height: 100%;
}
.character p,
.character div,
.character span {
  font-size: 12px;
}
.ability,
.skillsContainer,
.toolsContainer {
  background-color: #dcdde2;
  border: 1px solid #105b95;
  padding: 5px;
  border-radius: 5px;
}
.ability input {
  font-size: 16px;
  padding: 5px;
}
.ability .profSwitch .ability-mod,
.ability .profSwitch .save-mod {
  font-size: 16px;
}
.ability .profSwitch .proficiencyButton {
  border-radius: 16px;
  height: 15px;
  width: 15px;
  padding: 0px;
  position: relative;
}
.ability .profSwitch .proficiencyButton i {
  margin: 0px;
  position: absolute;
  top: -1px;
  left: -2px;
}
.skillsContainer div.skills .proficiencyButton {
  border-radius: 16px;
  height: 15px;
  width: 15px;
  padding: 0px;
  float: left;
  position: relative;
}
.skillsContainer div.skills .proficiencyButton i {
  margin: 0px;
  position: absolute;
  top: -2px;
  left: -2px;
}
.skillsContainer div.skills .skillLabel {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}
.skillsContainer div.skills + div.skills {
  border-top: 1px solid #105b95;
  margin-top: 4px;
  padding-top: 4px;
}
.toolsContainer {
  margin-top: 10px;
}
.toolsContainer .header button {
  float: right;
  padding: 0;
  margin: 0;
  width: 14px;
  height: 14px;
  position: relative;
}
.toolsContainer .header button i {
  position: absolute;
  top: -2px;
  left: -1px;
}
.toolsContainer .tools .toolItem {
  font-size: 10px;
  border: 1px solid #105b95;
  background-color: #c8c8c8;
  border-radius: 3px;
  padding: 2px;
  margin: 0px 2px 2px 0px;
  display: inline-flex;
}
.main {
  border: 1px solid #105b95;
  background-color: #dcdde2;
  border-radius: 3px;
  padding: 5px;
}
.main div + div {
  border-top: 1px solid #105b95;
  margin-top: 4px;
  padding-top: 4px;
}
.main .sizeContainer {
  display: flex;
  justify-content: space-between;
}
.main .sizeContainer span {
  display: flex;
  align-items: center;
}
.main .sensesContainer {
  display: flex;
  justify-content: space-between;
}
.main .sensesContainer .header .senseItem {
  font-size: 10px;
  border: 1px solid #105b95;
  background-color: #c8c8c8;
  border-radius: 3px;
  padding: 2px;
  margin: 0px 2px 2px 0px;
  display: inline-flex;
}
.main .sensesContainer button.updateTools {
  padding: 0;
  margin: 3px 0 0;
  width: 14px;
  height: 14px;
  position: relative;
}
.main .sensesContainer button.updateTools i {
  position: absolute;
  top: -2px;
  left: -1px;
}
.toolsContainer h2 {
  font-size: 16px;
  border-bottom: 0;
}
.toolsContainer ul {
  margin: 0 0 0.5em;
  padding: 0 0 0 0.5em;
}
.toolsContainer ul li {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 12px;
}
.toolsContainer ul li input[type="checkbox"] {
  height: 10px;
  width: 10px;
}
.toolsContainer span {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.toolsContainer span input[type="checkbox"] {
  height: 10px;
  width: 10px;
}
.toolsContainer span.last {
  margin-bottom: 5px;
}
.sensesSheet {
  border: 1px solid #105b95;
  background-color: #dcdde2;
  border-radius: 3px;
  padding: 5px;
}
.sensesSheet h2 {
  border-bottom: 1px solid #105b95;
}
.sensesSheet div .input {
  margin: 5px;
  font-size: 16px;
  border: 1px solid #105b95;
  width: 100px;
}
.characterSidebar input {
  text-align: center;
}
.characterSidebar .hitpointContainer,
.characterSidebar .armorClass,
.characterSidebar .luckPointsContainer,
.characterSidebar .passives,
.characterSidebar .deathSaves {
  background-color: #dcdde2;
  border: 1px solid #105b95;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}
.characterSidebar .hitpointContainer .hitDiceContainer .hitDiceLoc {
  justify-items: center;
  align-items: center;
  gap: 0px;
  grid-template-columns: 2fr 0fr 1fr 1fr;
}
.characterSidebar .hitpointContainer .hitDiceContainer .hitDiceLoc input {
  font-size: 12px;
}
.characterSidebar .hitpointContainer .hitDiceContainer .hitDiceLoc span {
  font-size: 16px;
}
.characterSidebar .hitpointContainer .hitDiceContainer button {
  margin: 0px;
  padding: 1px 5px;
}
.characterSidebar .hitpointContainer .exhaustionContainer button.exhaustionMarker {
  padding: 0;
  margin: 0;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  position: relative;
}
.characterSidebar .hitpointContainer .exhaustionContainer button.exhaustionMarker i {
  position: absolute;
  top: -2px;
  left: -2px;
}
.characterSidebar .armorClass .grid .profBonus div {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px auto;
}
.characterSidebar .luckPointsContainer .grid .luckPoints div {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px auto;
}
.characterSidebar .passives div {
  padding-bottom: 5px;
  font-size: 16px;
}
.characterSidebar .deathSaves .savesContainer .savesLabel {
  margin-top: 4px;
}
.characterSidebar .deathSaves .savesContainer button.deathSave {
  padding: 0;
  margin: 0;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  position: relative;
}
.characterSidebar .deathSaves .savesContainer button.deathSave i {
  position: absolute;
  top: -2px;
  left: -2px;
}
