.ability{
    .profSwitch{
        .proficiencyButton{
            border-radius: 16px;
            height: 20px;
            width: 20px;
            padding: 0px;
            i {
                margin: 0px;
            }
        }
    }
}
.skillsContainer{
    .skills{
        .proficiencyButton{
            border-radius: 16px;
            height: 20px;
            width: 20px;
            padding: 0px;
            i {
                margin: 0px;
            }
        }
    }
}